.Rhistory
.DS_Store

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# RStudio files
.Rproj.user/
.Rproj.user
*.json
analysis/Meyers_QualAnalysis.xlsx
papers/cogsci/Meyers_2_1.pdf
papers/cogsci/ill_cogsci2019_cache/latex/tmp_acc_plot_9b8df48bc79133137f3e5b971f2a90e2.rdx
papers/cogsci/ill_cogsci2019_cache/latex/tmp_acc_plot_9b8df48bc79133137f3e5b971f2a90e2.rdb
papers/cogsci/ill_cogsci2019_cache/latex/tmp_acc_plot_9b8df48bc79133137f3e5b971f2a90e2.RData
papers/cogsci/ill_cogsci2019_cache/latex/ill_outline_520e54f516532c40d7aa66073764b784.rdx
papers/cogsci/ill_cogsci2019_cache/latex/ill_outline_520e54f516532c40d7aa66073764b784.rdb
papers/cogsci/ill_cogsci2019_cache/latex/ill_outline_520e54f516532c40d7aa66073764b784.RData
papers/cogsci/ill_cogsci2019_cache/latex/e3_complexity_condition_83374987edf63b4be1f491ab24a822f8.rdx
papers/cogsci/ill_cogsci2019_cache/latex/e3_complexity_condition_83374987edf63b4be1f491ab24a822f8.rdb
papers/cogsci/ill_cogsci2019_cache/latex/e3_complexity_condition_83374987edf63b4be1f491ab24a822f8.RData
papers/cogsci/ill_cogsci2019_cache/latex/e3_bdm_plot_c8c2afdd83cee330803565b65d0042f4.rdx
papers/cogsci/ill_cogsci2019_cache/latex/e3_bdm_plot_c8c2afdd83cee330803565b65d0042f4.rdb
papers/cogsci/ill_cogsci2019_cache/latex/e3_bdm_plot_c8c2afdd83cee330803565b65d0042f4.RData
papers/cogsci/ill_cogsci2019_cache/latex/e3_acc_plot_f5c0ba3933dc4abbba17a3920436df84.rdx
papers/cogsci/ill_cogsci2019_cache/latex/e3_acc_plot_f5c0ba3933dc4abbba17a3920436df84.rdb
papers/cogsci/ill_cogsci2019_cache/latex/e3_acc_plot_f5c0ba3933dc4abbba17a3920436df84.RData
papers/cogsci/ill_cogsci2019_cache/latex/e2_withplots_3fc7d323a59f6cdb389ceafeb0dd120d.rdx
papers/cogsci/ill_cogsci2019_cache/latex/e2_withplots_3fc7d323a59f6cdb389ceafeb0dd120d.rdb
papers/cogsci/ill_cogsci2019_cache/latex/e2_withplots_3fc7d323a59f6cdb389ceafeb0dd120d.RData
papers/cogsci/ill_cogsci2019_cache/latex/e2_bdm_plot_63a1b7e6f518fc560ebe556f6d1de5f6.rdx
papers/cogsci/ill_cogsci2019_cache/latex/e2_bdm_plot_63a1b7e6f518fc560ebe556f6d1de5f6.rdb
papers/cogsci/ill_cogsci2019_cache/latex/e2_bdm_plot_63a1b7e6f518fc560ebe556f6d1de5f6.RData
papers/cogsci/ill_cogsci2019_cache/latex/e2_acc_plot_80222667ac34884d9b4592abad42a332.rdx
papers/cogsci/ill_cogsci2019_cache/latex/e2_acc_plot_80222667ac34884d9b4592abad42a332.rdb
papers/cogsci/ill_cogsci2019_cache/latex/e2_acc_plot_80222667ac34884d9b4592abad42a332.RData
papers/cogsci/ill_cogsci2019_cache/latex/e1_bdm_plot_02a230271901cf648fd922b9c910eb4f.rdx
papers/cogsci/ill_cogsci2019_cache/latex/e1_bdm_plot_02a230271901cf648fd922b9c910eb4f.rdb
papers/cogsci/ill_cogsci2019_cache/latex/e1_bdm_plot_02a230271901cf648fd922b9c910eb4f.RData
papers/cogsci/ill_cogsci2019_cache/latex/e1_acc_plot_b17528148908f9c89c6ceabea6a04839.rdx
papers/cogsci/ill_cogsci2019_cache/latex/e1_acc_plot_b17528148908f9c89c6ceabea6a04839.rdb
papers/cogsci/ill_cogsci2019_cache/latex/e1_acc_plot_b17528148908f9c89c6ceabea6a04839.RData
papers/cogsci/ill_cogsci2019_cache/latex/dyad_schem_1d7ca8ed4251d14b17e1828e3d6ec9bd.rdx
papers/cogsci/ill_cogsci2019_cache/latex/dyad_schem_1d7ca8ed4251d14b17e1828e3d6ec9bd.rdb
papers/cogsci/ill_cogsci2019_cache/latex/dyad_schem_1d7ca8ed4251d14b17e1828e3d6ec9bd.RData
papers/cogsci/ill_cogsci2019_cache/latex/dyad_complexity_77bf923e8820168505d075ce3b1b3588.rdx
papers/cogsci/ill_cogsci2019_cache/latex/dyad_complexity_77bf923e8820168505d075ce3b1b3588.rdb
papers/cogsci/ill_cogsci2019_cache/latex/dyad_complexity_77bf923e8820168505d075ce3b1b3588.RData
papers/cogsci/ill_cogsci2019_cache/latex/dyad_accuracy_83b9e6548a320ce527b2be29ce529806.rdx
papers/cogsci/ill_cogsci2019_cache/latex/dyad_accuracy_83b9e6548a320ce527b2be29ce529806.rdb
papers/cogsci/ill_cogsci2019_cache/latex/dyad_accuracy_83b9e6548a320ce527b2be29ce529806.RData
papers/cogsci/ill_cogsci2019_cache/latex/both_complexity_e4a87e9080387002ea32dcf2ae5746a9.rdx
papers/cogsci/ill_cogsci2019_cache/latex/both_complexity_e4a87e9080387002ea32dcf2ae5746a9.rdb
papers/cogsci/ill_cogsci2019_cache/latex/both_complexity_e4a87e9080387002ea32dcf2ae5746a9.RData
papers/cogsci/ill_cogsci2019_cache/latex/baseline_withplots_172a190e3c68a2c0621e3d62aba2e511.rdx
papers/cogsci/ill_cogsci2019_cache/latex/baseline_withplots_172a190e3c68a2c0621e3d62aba2e511.rdb
papers/cogsci/ill_cogsci2019_cache/latex/baseline_withplots_172a190e3c68a2c0621e3d62aba2e511.RData
papers/cogsci/ill_cogsci2019_cache/latex/baseline_schem_6c6ed601c2b252f39380f542795e7f8a.rdx
papers/cogsci/ill_cogsci2019_cache/latex/baseline_schem_6c6ed601c2b252f39380f542795e7f8a.rdb
papers/cogsci/ill_cogsci2019_cache/latex/baseline_schem_6c6ed601c2b252f39380f542795e7f8a.RData
papers/cogsci/ill_cogsci2019_cache/latex/baseline_bothExp_withplots_1c105da2e2e5fd98fcdf3d28fe67620e.rdx
papers/cogsci/ill_cogsci2019_cache/latex/baseline_bothExp_withplots_1c105da2e2e5fd98fcdf3d28fe67620e.rdb
papers/cogsci/ill_cogsci2019_cache/latex/baseline_bothExp_withplots_1c105da2e2e5fd98fcdf3d28fe67620e.RData
papers/cogsci/ill_cogsci2019_cache/latex/baseline_bothExp_7a8d630ef1e0f60b4276053b63abf46d.rdx
papers/cogsci/ill_cogsci2019_cache/latex/baseline_bothExp_7a8d630ef1e0f60b4276053b63abf46d.rdb
papers/cogsci/ill_cogsci2019_cache/latex/baseline_bothExp_7a8d630ef1e0f60b4276053b63abf46d.RData
papers/cogsci/ill_cogsci2019_cache/latex/baseline_accuracy_f8ccec02b2110fe5debe510aaf74c4e5.RData
papers/cogsci/ill_cogsci2019_cache/latex/baseline_accuracy_f8ccec02b2110fe5debe510aaf74c4e5.rdb
papers/cogsci/ill_cogsci2019_cache/latex/baseline_accuracy_f8ccec02b2110fe5debe510aaf74c4e5.rdx
papers/cogsci/ill_cogsci2019_cache/latex/baseline_bothAccuracy_fae96e833ee44a56e6fcb559d1b03c08.RData
papers/cogsci/ill_cogsci2019_cache/latex/baseline_bothAccuracy_fae96e833ee44a56e6fcb559d1b03c08.rdb
papers/cogsci/ill_cogsci2019_cache/latex/baseline_bothAccuracy_fae96e833ee44a56e6fcb559d1b03c08.rdx

papers/journal/iterated_journal.Rmd
papers/journal/iterated_journal.log
papers/journal/iterated_journal.tex
